.app {
    width: 100%;
 
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 1fr;
}

.app__menu {
    width: 100%;
}

.app__router {
    height: 100vh;
    overflow-y: scroll;
}